* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  background: #d1e3f2;
}

.header {
  padding: 35px;
  text-align: center;
}

.center {
  text-align: center;
}

.error {
  color: red;
}

p {
  display: inline;
  margin-left: 5px;
}

.container {
  padding: 25px;
  background-color: #974a72;
  border-radius: 5px;
  width: 960px;
  margin: 15px auto;
  border: 1px solid;
  box-shadow: 0 3px 10px 3px #888888;
}

form {
  font-weight: bold;
  font-size: 1.5em;
}

input[type=text], input[type=password], textarea {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: none;
}

textarea {
  height: 300px;
}

input[type=submit] {
  background-color: #9673ba;
  padding: 12px 20px;
  border: 1px solid;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #704a97;
}

.nav {
  padding: 15px;
  background-color: #4a4b97;
  position: sticky;
  top: 0;
  border-radius: 5px;
}

.small {
  font-size: .75em;
}

.italic {
  font-style: italic;
}

hr {
  border: 1px solid #f1f1f1;
}

.post {
  padding: 25px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #fff;
}

.post:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.right {
  float: right;
}

.left {
  float: left;
}