body {
  padding: 20px;
}

h1 {
  margin: 50px;
  text-align: center;
}

.error {
  color: red;
}

label {
  display: block;
}

.container {
  padding: 25px;
  margin: 25px 0;
  background-color: #eee;
  border-radius: 10px;
}

.nav {
  padding: 15px;
  background-color: #ccc;
  position: sticky;
  top: 0;
  border-radius: 5px;
}