<!doctype html>
<html>
<head>
  <title>Build-a-blog</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="nav">
    <a href="/blog">Main Blog Page</a>
    <a href="/newpost">Add a Blog Entry</a>
    <a href="/logout">Logout</a>
    <a href="/login">Login</a>
    <a href="/">Home</a>
  </div>

  {% with messages = get_flashed_messages(with_categories=True) %}
  <ul>
  {% for category, message in messages %}
    <li class="{{category}}">{{message}}</li>
  {% endfor %}
  </ul>
  {% endwith %}

  {% block content %}
  {% endblock %}

</body>
</html>