{% extends "base.html" %}

{% block header %}
<div class="header">
  <h1>Blogz</h1>
</div>
{% endblock %}

{% block content %}

{% if blog %}
<div class="container">
  {% for post in blog %}
  
  <div class="post">
      <h2><a href="/blog?id={{post.id}}">{{post.title}}</a></h2>
      <p class="small italic">Written by: <a href="/blog?username={{post.user.username}}">{{post.user.username}}</a></p>
      <hr>
      <p>{{post.body}}</p>
  </div>
 
  {% endfor %}
</div>
{% else %}
  <div class="container">
    There's nothing here...
  </div>
{% endif %}

{% endblock %}