{% extends "base.html" %}

{% block header %}
<div class="header">
  <h1>Blogz</h1>
</div>
{% endblock %}

{% block content %}

{% if blog %}
  {% for post in blog %}
  <div class="container">
    <div class="post">
      <h2 class="post-title"><a href="/blog?id={{post.id}}">{{post.title}}</a></h2>
      <p class="post-body">{{post.body}}</p>
      <p class="post-author"><a href="/blog?username={{post.user.username}}">{{post.user.username}}</a></p>
    </div>
  </div>
  {% endfor %}
{% else %}
  <div class="container">
    There's nothing here...
  </div>
{% endif %}

{% endblock %}