{% extends "base.html" %}

{% block content %}
<h1>Register to start posting!</h1>

<div class="container">
  <form method='POST'>
    <label for="name"><span>Username</span></label>
      <input type="text" id="name" name="username" value="{{username}}" />
    <label for="pw"><span>Password</span></label>
      <input type="password" id="pw" name="password"/>
    <label for="verify"><span>Verify Password</span></label>
      <input type="password" id="verify" name="verify-pw" />
    <input type="submit" value="Register"/>
  </form>
</div>
{% endblock %}